* {
    font-family: sans-serif;
}
#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

#banner h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
#banner p {
    font-size: 16px;
    margin-bottom: 20px;
}
.agree-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
.agree-checkbox:checked {
    background-color: #eee;
}
.agree-checkbox:checked::after{
    display: block;
}